<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bookstore App</title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
    <div class = "logo">
        <h1>Bookstore</h1>
    </div>
    <nav class = "main">
        <a href="/">Home</a> 
        <a href="/books">Books</a>
        <a href="/merchandise">Merchandise</a>
        <a href="/sales">Sales</a>
        <a href="/customers">Customers</a>
        <a href="/employees">Employees</a>
        <a href="/merchandisesales">Merchandise Sales</a>
        <a href="/booksales">Book Sales</a> 
    </nav>
</header>

<div class = "body1">
    {{{body}}}
</div>


</body>
<footer>
    <p>&copy; 2023 Jacob Summers & Audrey Flanders</p>
</footer
</html>
