<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>
<head>
<title>Books</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newBook() { showform('insert'); }
    function updateBook(pid) { showform('update'); }
    function deleteBook(pid) { showform ('delete'); }
    function browseBooks() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<!-- <body onload="browseBooks()"> -->
<h1>Books</h1>

<a href="/">Home</a> | <a href="/books">Books</a> | <a href="/merchandise">Merchandise</a> | <a href="/sales">Sales</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/merchandisesales">Merchandise Sales</a> | <a href="/booksales">Book Sales</a> 

<div id="browse">
<!-- <p><a href="#" onClick="showAll()">Display all forms</a> </p> -->
<p><strong>Browse Book Sales</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <!-- <th><a href="#" onClick="newBook()">New</a></th>
    <th></th> -->
<th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year Published</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Stock</th>
  </tr>
  <tr>
    <!-- <td><a href="#" onClick="updateBook('this.bookID')">Edit</a></td>
    <td><a href="#" onclick="deleteBook('this.bookID')">Delete</a></td> -->
    <td align="right" >1</td>
    <td >Sapiens: A Brief History of Humankind</td>
    <td align="right" >Yuval Noah Harari</td>
    <td>2011</td>
    <td>Non-fiction</td>
    <td>13.06</td>
    <td>7</td>
  </tr>
  <tr>
    <!-- <td><a href="#" onClick="updateBook('this.bookID')">Edit</a></td>
    <td><a href="#" onclick="deleteBook('this.bookID')">Delete</a></td> -->
    <td align="right" >2</td>
    <td >Circe</td>
    <td align="right" >Madeline Miller</td>
    <td>2018</td>
    <td>Fiction</td>
    <td>22.99</td>
    <td>8</td>
  </tr>
  <tr>
    <!-- <td><a href="#" onClick="updatePerson('this.personID')">Edit</a></td>
    <td><a href="#" onclick="deletePerson('this.personID')">Delete</a></td> -->
    <td>3</td>
    <td >To Kill a Mockingbird</td>
    <td align="right" >Harper Lee</td>
    <td>1960</td>
    <td>Fiction</td>
    <td>15.49</td>
    <td>6</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addBook">
        <legend><strong>Add A New Book</strong></legend>
          <fieldset class="fields">
            <label> Title </label> <input type="text" name="bookTitle">
            <label> Author </label> <input type="text" name="bookAuthor">
            <label> Year </label> <input type="text" name="yearPublished">
            <label> Genre </label> <input type="text" name="bookGenre">
 
            <label> Price </label> <input type="text" name="bookPrice">
            <label> Quantity </label> <input type="text" name="bookQuantity">
      </fieldset>
          <input class="btn" type="submit" id="addBook" value="Add Book">
          <input class="btn" type="button" value="cancel" onClick="browseBooks()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<!-- <div id="update">
    <form method="POST" id="UpdateBook">
        <legend><strong>Update Book</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="bookID" id="updatebookID" value="1">
            <label> Title </label> <input type="text" name="bookTitle" >
            <label> Author </label> <input type="text" name="bookAuthor" >
            <label> Year </label> <input type="text" name="bookYear" >
            <label> Genre </label> <select name="bookGenre">
                <option value="2">Fiction</option>
                <option value="3" >Non-fiction</option>
                </select>
            <label> Price </label> <input type="text" name="bookPrice" >
            <label> Quantity </label> <input type="text" name="bookQuantity" >
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveBook" value="Save Update Book">
          <input class="btn" type="button" value="cancel" onClick="browseBooks()">
	</form>  -->
<!-- </div> update -->
<p>&nbsp;</p>
<!-- <div id="delete" style="display: block">
  <form id="deleteBook">
      <legend><strong>Delete Book</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="bookID" id="deletebookID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Title</strong> </label> Sapiens: A Brief History of Humankind
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteBook" value="Delete Book">
          <input class="btn" type="button" value="cancel" onClick="browseBooks()">
  </form> 
</div> -->

</body>
</html>
