
<html>

<title>Customers</title>


<body>
<h1>Customers</h1>

<!-- Display customers in a table -->

<div id="browse" style="display: block">
  <table border="1" cellpadding="5" id="customers-table">
    <thead>
        <tr>
          <th>Customer ID</th>
          <th>Name</th>
          <th>Email</th>
            <!-- <th>delete</th> -->
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.customerEmail}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>

<p>&nbsp;</p>
</div> 

<!-- search customers -->


  <h2>Search Customers</h2>
  <p>Search for customers by name. Partial names are accepted. Click "Reset" to reset the table. <br>
  <strong>Note: </strong>If a customer is not found within the database, their customer information must be added before their sale can be processed.</p>

  <form id="search-customer-html" method='GET' action='/customers'>
      <label for="inputcustomerName">Search by Customer Name: </label>
      <input type="text" name="inputcustomerName" id="inputcustomerName">
      
      <input type="submit">
      <a href='/customers'><button class = "merch">Reset</button></a>
  </form>


<p>&nbsp;</p>

<!-- insert new customer -->

<h2>Add New Customer</h2>
<p>Add a new customer to the database.</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-customerName" class="required">Customer Name: </label>
    <input type="text" name="input-customerName" id="input-customerName" required maxlength="45">
    
    <label for="input-customerEmail" class="required">Email: </label>
    <input type="text" name="input-customerEmail" id="input-customerEmail" required maxlength="45">

    <input type="submit">
</form>
<p>&nbsp;</p>


</body>
</html>
