<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626 --}}
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bookstore DBMS</title>
</head>
<body>

<div class = "index">
<div class = "header">
<h2>Bookstore Overview</h2>
</div>
<p>&emsp;&ensp;A new bookstore needs a database to manage its employees, customers, sales, book inventory, and merchandise inventory. This bookstore is located in a small town and will expect about 30 customer transactions per day. The bookstore will employ 4 people. <br>
&emsp;&ensp;The bookstore will start out with an inventory of about 2000 books, but new books will be added each month. About 50 pieces of merchandise will also be available for purchase. There will be multiple copies of every book and merchandise product available for sale. A customer may purchase many books and merchandise per sale. The database will track the products, customer, and employee involved in each sale. The bookstore will have a self-checkout option, so a sale may or may not have an employee.
</p>
<p><strong>Books: </strong> Add and update books within the database.</p>
<p><strong>Merchandise: </strong>Add, update, and delete merchandise within the database.</p>
<p><strong>Customers: </strong>Search for and add customers to the databse.</p>
<p><strong>Employees: </strong> Add employees to the database.</p>
<p><strong>Sales: </strong>Add and update sales within the database.</p>
<p><strong>Merchandise Sales: </strong>Associate a sale with merchandise. Update and delete merchandise sales.</p>
<p><strong>Book Sales: </strong>Associate a sale with books. Update and delete book sales.</p>
</div>

</body>
</html>




