<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626 --}}
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bookstore DBMS</title>
</head>
<body>

<div class = "index">
<div class = "header">
<h2>Bookstore Overview</h2>
</div>
<p>&emsp;&ensp;A bookstore can use this database to manage its employees, customers, sales, book inventory, and merchandise inventory. The database will track the products, customer, and employee involved in each sale.
    A <a href="/schema">schema</a> is privded to visually display the structure of the database.
</p>
<p><strong>Books: </strong> Add, update, and delete books within the database.</p>
<p><strong>Merchandise: </strong>Add, update, and delete merchandise within the database.</p>
<p><strong>Customers: </strong>Search for and add customers to the databse.</p>
<p><strong>Employees: </strong> Add and delete employees within the database.</p>
<p><strong>Sales: </strong>Add and update sales within the database.</p>
<p><strong>Merchandise Sales: </strong>Associate a sale with merchandise. Update and delete merchandise sales.</p>
<p><strong>Book Sales: </strong>Associate a sale with books. Update and delete book sales.</p>
</div>


</body>
</html>




