<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626 --}}
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bookstore DBMS</title>
</head>
<body>

<div class = "index">
<p>Welcome to our bookstore. Insert explanation here.</p>
</div>

</body>
</html>




