<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626 --}}
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bookstore DBMS</title>
</head>
<body>
    <h1>Bookstore DBMS</h1>
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/merchandise">Merchandise</a>
    <a href="/customers">Customers</a>
    <a href="/sales">Sales</a>
    <a href="/employees">Employees</a>
    <a href="/merchandisesales">Merchandise Sales</a>
    <a href="/booksales">Book Sales</a>
  

    <footer>
        <p>&copy; 2023 Jacob Summers & Audrey Flanders</p>
    </footer>
</body>
</html>

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>






