<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->


<html>
<head>
<title>Merchandise</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				// document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				// document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newMerchandise() { showform('insert'); }
    function updateMerchandise(pid) { showform('update'); }
    function deleteMerchandise(pid) { showform ('delete'); }
    function browseMerchandise() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body>
<h1>Merchandise</h1>

<a href="/">Home</a> | <a href="/books">Books</a> | <a href="/merchandise">Merchandise</a> | <a href="/sales">Sales</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/merchandisesales">Merchandise Sales</a> | <a href="/booksales">Book Sales</a> 

<div id="browse" style="display: block">
<p><strong>Browse Merchandise</strong></p>
<p>Click on "delete" to delete a product. Deleting a product will remove it from any associated invoices, but it will not delete
  the invoices.</p>
<table border="1" cellpadding="5">
  <tr>
    <!-- <th><a href="#">New</a></th> -->
    <th></th>
    <th>Merch ID</th>
    <th>Merch Name</th>
    <th>Merch Price</th>
    <th>Stock</th>
  </tr>
  <tr>
    <!-- <td><a href="#">Edit</a></td> -->
    <td><a href="#">Delete</a></td>
    <td align="right" >1</td>
    <td >Floral Bookmark</td>
    <td align="right" >1.99</td>
    <td align="right" >14</td>
  </tr>
  <tr>
    <!-- <td><a href="#">Edit</a></td> -->
    <td><a href="#">Delete</a></td>
    <td align="right" >2</td>
    <td >Bumblebee Spiral Notebook</td>
    <td align="right" >9.99</td>
    <td align="right" >8</td>
  </tr>
  <tr>
    <!-- <td><a href="#">Edit</a></td> -->
    <td><a href="#">Delete</a></td>
    <td align="right" >3</td>
    <td >Red Reading Light</td>
    <td align="right" >12.30</td>
    <td align="right" >10</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert" style="display: block">
    <form id="addMerchandise">
        <legend><strong>Add New Merchandise</strong></legend>
          <fieldset class="fields">
            <label> Merch Name </label> <input type="text" name="merchName">
             <label> Price </label> <input type="text" name="merchPrice">
            <label> Quantity </label> <input type="text" name="merchQuantity">
          </fieldset>
          <input class="btn" type="submit" id="addMerchandise" value="Add Merchandise">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new merch-->
</div><!-- insert -->

<p>&nbsp;</p>
<!-- <div id="update" style="display: block">
  <form id="updateMerchandise">
      <legend><strong>Update Merchandise</strong></legend>
          <fieldset class="fields">
          <label>merchID:</label> 1
            <label> merchName </label> <input type="text" value="Floral Bookmark" name="merchName">
            <label> merchPrice </label> <input type="text"  name="merchPrice" value="1.99">
            <label> merchQuantity </label> <input type="text"  name="merchQuantity" value="14">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveMerchandise" value="Save Update Merchandise">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div>update -->
<p>&nbsp;</p>
<!-- They will use the button to delete, i dont think we need this separate form -->
<!-- <div id="delete" style="display: block">
  <form id="deleteMerchandise">
      <legend><strong>Delete Merchandise</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>merchID:</label> 1
            <label>merchName:</label> Floral Bookmark
             <label>merchPrice</label> 1.99
            <label>merchQuantity</label> 14
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteMerchandise" value="Delete Merchandise">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div>delete -->
</body>
</html>
