@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');



:root {
    --dark:#59372b;
    --medium:#9f624f;
    --medium2:#ae9e8f;
    --contrast:#cca98d;
    --light:#ede2d5;
    --white:#ffffff;
    --black: #000000;
}

html {
    margin: 0 auto;
}


header {
    top: 0; 
    border-bottom: 2px solid var(--dark);
    display: inline-flex;
    background-color: var(--light);
    width: 100%;
    padding-left: 20px;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.logo {
    padding-right: 40px;
    color: var(--dark);
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

nav {
    display: inline;
    margin-bottom: 30px;
    padding-bottom: 5px;
    margin-top: 30px;

}

.button a{
    background-color:var(--light);
    border:2px solid var(--contrast);
    border-radius:6px; 
    color: var(--black);
    font-weight:bold;
    margin:0;
    padding: 6px 15px 6px 15px;
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.main a {

    color:var(--black);
    font-size:1.3em;
    font-weight: bold;
    padding-right: 20px;
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border: 3px solid;
}

th {
    text-align: center;
    padding: 8px;
    border-bottom: 4px solid;
  }

td {
    padding: 5px;
    border-bottom: 1px solid;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}



.body1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 2%;
}

footer {
    position: fixed;
    overflow: hidden;
    background-color: var(--light);
    width: 100%;
    border-top: 2px solid var(--dark);
    bottom: 0;
    left: 0;
    padding-left: 20px;
    color: black;
}