@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');

/* citations */

/* 
Citation for CSS
Date: 8/8/23
Adapted from W3Schools CSS Tutorial, but the details and specifications are our own work
URL: https://www.w3schools.com/css/default.asp

*/

:root {
    --dark:#59372b;
    --medium:#9f624f;
    --medium2:#ae9e8f;
    --contrast:#7b6c5c;
    --contrast2:#e1e1e1;
    --light:#ede2d5;
    --white:#ffffff;
    --black: #000000;
}

html {
    margin: 0 auto;
}

form {
    padding: 20px;
    border-radius: 2px;
    background-color: var(--light);
    width:fit-content;
    display: inline-flex;
    align-items: left;
    border: 2px solid var(--dark);
}

label {
    display:block;
    margin: 0px 8px;
  }

  input[type=submit] {
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--contrast);
    color: var(--white)
  }

button {
    background-color: var(--contrast);
    color: var(--white)
}

header {
    top: 0; 
    border-bottom: 2px solid var(--dark);
    display: inline-flex;
    background-color: var(--light);
    width: 100%;
    padding-left: 5%;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.logo {
    padding-right: 40px;
    color: var(--dark);
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

nav {
    display: inline;
    margin-bottom: 30px;
    padding-bottom: 5px;
    margin-top: 30px;

}

.button a{
    background-color:var(--contrast);
    border:2px solid var(--dark);
    border-radius:6px; 
    color: var(--white);
    font-weight:bold;
    margin:0;
    padding: 6px 15px 6px 15px;
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.main a {

    color:var(--black);
    font-size:1.3em;
    font-weight: bold;
    padding-right: 20px;
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--dark);
    max-width: 90%;
}

th {
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid var(--dark);
    background-color: var(--light);
  }

td {
    padding: 5px;
    border-bottom: 1px solid var(--dark);
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.required:after {
    content:" *";
    color: red;
  }

label.required {
    content:" *";
  }

.body1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 5%;
}

.index {
    border: solid 2px var(--dark); 
    border-radius: 6px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 20%;
    margin-top: 7%;
    background-color: var(--light);
}

footer {
    position: fixed;
    overflow: hidden;
    background-color: var(--light);
    width: 100%;
    border-top: 2px solid var(--dark);
    bottom: 0;
    left: 0;
    padding-left: 5%;
    color: black;
}